@import '../../../../colors';

.top-panel {
    margin: 8px 8px 0 16px;
    justify-content: space-between;

    div {
        align-items: center;
        gap: 8px;
    }
    .start {
        span {
            display: flex;
            align-items: center;
            font-size: 28px;
            font-weight: 700;

            &::before {
                content: '';
                display: block;
                height: 8px;
                width: 8px;
                margin-right: 8px;
                background-color: $ct;
                border-radius: 50%;
            }
        }
    }
}
