<div class="top-panel">
    <div class="start">
        <span>{{ title }}</span>
    </div>
    <div class="end">
        <button class="btn bg-light"><i class="fi fi-rr-cowbell"></i></button>
        <div class="input bg-light">
            <label for="search"><i class="fi fi-rr-search"></i></label>
            <input id="search" type="text" placeholder="Buscar...">
        </div>
        <button class="btn bg-light">Nombre del usuario<i class="fi fi-rr-angle-small-down"></i></button>
    </div>
</div>
