<nav>
    <div class="logo">
        <logo variant="icon" color="purple" size="36" />
        <div>
            <span>Gebt</span>
            <span>Better life</span>
        </div>
    </div>
    <div class="input bg-dark2">
        <label for="search"><i class="fi fi-rr-search"></i></label>
        <input id="search" type="text" placeholder="Buscar..." />
    </div>
    <div>
        <button class="btn bg-dark2">Nombre del usuario<i class="fi fi-rr-angle-small-down"></i></button>
    </div>
</nav>
