<div class="main">
    <div class="info">
        <button (click)="newForm = !newForm" class="btn" [class.bg-green]="!newForm" [class.bg-red]="newForm">
            @if (!newForm) {
            <i class="fi fi-rr-add"></i> Agendar una cita } @else { Cancelar }
        </button>
        <div class="bg-current">
            <span>15</span>
            <span>Citas registradas</span>
        </div>
        <div class="bg-current">
            <span>15</span>
            <span>Citas realizadas</span>
        </div>
    </div>

    @if (newForm) {
    <new-appointment />
    } @else {
    <div class="content">
        @if (activeAppointments.length > 0) {
            <div class="active bg-yellow">
                @for (appointment of activeAppointments; track appointment._id) {
                    <div class="activeAppointment">
                        <span>{{ appointment.patient.name }} {{ appointment.patient.lastname }}</span>
                        <span>{{ datetimeString(appointment.date) }}</span>
                    </div>
                }
                <div class="activeAppointment">
                    <span>Jorge Garcia Rodriguez</span>
                    <span>12:00 pm</span>
                </div>
            </div>
        }
        <div class="appointments">
            <div class="approximate bg-current">
                <h1>Proximas citas:</h1>
                <div class="approximateAppointments">
                    @if (upcomingAppointments.length > 0) {
                        @for (appointment of upcomingAppointments; track appointment._id) {
                            <appointment-card [appointment]="appointment" />
                        }
                    } @else {
                        <div class="empty">
                            <i class="fi fi-rr-bed"></i>
                            <span>No hay citas proximas</span>
                        </div>
                    }
                </div>
            </div>
            <div class="past bg-current">
                <h1>Citas anteriores:</h1>
            </div>
        </div>
        <div class="all bg-current"></div>
    </div>
    }
</div>
