<!--
TODO
- Cita activa 
(Si una cita ya paso no se puede registrar los datos y se cambia como no asistida, se tendria que crear una nueva cita)
- Citas proximas
- Crear citas
- Citas pasadas
- Todas las citas
-->
<div class="main">
    <div class="info">
        <button (click)="newForm = !newForm" class="btn" [class.bg-green]="!newForm" [class.bg-red]="newForm">
            @if (!newForm) {
                <i class="fi fi-rr-add"></i> Agendar una cita
            } @else {
                Cancelar
            }
        </button>
        <div class="bg-current">
            <span>15</span>
            <span>Citas registradas</span>
        </div>
        <div class="bg-current">
            <span>15</span>
            <span>Citas realizadas</span>
        </div>
    </div>
    
    @if (newForm) {
        <new-appointment />
    }
</div>
