<div class="card">
    <div>
        <span class="name">{{ patient.name }}</span>
        <span class="lastname">{{ patient.lastname }}</span>
    </div>
    <div>
        <span>
            @if (calculateAge() < '0 años ') {
                <i class="fi fi-rr-child-head"></i>
            } @else {
                {{ calculateAge() }}
            }
        </span>
        <span>
            @if (patient.gender === "M") {
                <i class="fi fi-rr-mars"></i>
            } @else {
                <i class="fi fi-rr-venus"></i>
            }
        </span>
    </div>
    <div>
        <span class="phone"><i class="fi fi-rr-mobile-notch"></i>{{ patient.phone }}</span>
        <div class="controls">
            <button><i class="fi fi-rr-pencil"></i></button>
            <button (mouseleave)="sureDelete = false" (click)="delete()" [class.sureDelete]="sureDelete">
                @if (!sureDelete) {
                    <i class="fi fi-rr-trash"></i>
                } @else {
                    ¿Estas seguro?
                }
            </button>
        </div>
    </div>
</div>
