@import '../../../../colors';

.card {
    position: relative;
    cursor: pointer;
    gap: 8px;
    flex-direction: column;
    padding: 16px 16px 8px 16px;
    border-radius: 16px;

    div {
        align-items: center;
        justify-content: space-between;

        &:first-child {
            justify-content: flex-start;
        }
        span {
            width: max-content;
        }
    }
    .name {
        font-size: 20px;
        font-weight: 700;
        margin-right: 4px;
    }
    .lastname {
        font-size: 18px;
        font-weight: 600;
    }
    .phone {
        font-size: 12px;
        font-weight: 300;
        margin-right: 4px;
        margin-top: 4px;
        i {
            top: 1px;
            margin-right: 2px;
        }
    }
    .controls {
        button {
            cursor: pointer;
            border: none;
            height: 28px;
            width: 28px;
            border-radius: 16px;
            transition: all 0.2s ease-in-out;

            i {
                font-size: 14px;
            }
        }
        .sureDelete {
            width: max-content;
            padding: 0 8px;

            &:hover {
                background-color: $red;
            }
        }
    }
}
