@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import './colors';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    color: $dark;
}
main,
section,
div,
form,
nav {
    display: flex;
}
body {
    background-color: $dark;
}
main {
    width: 100%;
    height: 100vh;
}
i {
    position: relative;
    top: 3px;
}
h1,
h2,
h3,
h4 {
    font-weight: 800;
}
.input {
    height: 36px;
    border-radius: 16px;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 36px;
    }
    input,
    select {
        width: 100%;
        height: 36px;
        border-radius: 16px;
        background: none;
        border: none;
        outline: none;
        padding-top: 2px;
        margin-right: 8px;
    }
}

.btn {
    position: relative;
    height: 36px;
    border-radius: 16px;
    border: none;
    min-width: 36px;
    padding: 0 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    i {
        font-size: 16px;
    }
    &:hover {
        color: $dark;
        background: $light3;

        i {
            color: $dark;
        }
    }
    &:disabled {
        background: none;
        border: 1px solid $light3;
        color: $dark;

        i {
            color: $dark;
        }
    }
}

.bg-light2 {
    background-color: $light2;
}
.bg-dark {
    background-color: $dark;
    color: $light;
    input,
    i {
        color: $light;
    }
}
.bg-dark2 {
    background-color: $dark2;
    input,
    i {
        color: $light;
    }
}
.bg-purple {
    background-color: $purple;
}
.bg-blue {
    background-color: $blue;
}
.bg-green {
    background-color: $green;
}
.bg-yellow {
    background-color: $yellow;
}
.bg-red {
    background-color: $red;
}
