<div [class.bg-current2]="!active" [class.card]="!active" [class.cardActive]="active">
    <div>
        <div>
            @if (!active) {
                <span>{{ dayWeekString() }}</span>
                <span>-</span>
            }
            <span class="nameActive" [hidden]="!active">{{ appointment.patient.name }} {{ appointment.patient.lastname }}</span>
            <span class="datetime">{{ hourString(appointment.date) }}</span>
        </div>
        @if (!active) {
            <span class="state" [class.bg-yellow]="appointment.state === 0" [class.bg-red]="appointment.state === 2" [class.bg-green]="appointment.state === 1" [class.bg-blue]="appointment.state === 3" >{{ stateString() }}</span>
        }
    </div>
    <div>
        <span [hidden]="active">Para: {{ appointment.patient.name }} {{ appointment.patient.lastname }}</span>
        @if (options) {
            <div class="options">
                <button (click)="showReschedule = !showReschedule" [hidden]="active" class="btn" [class.bg-current2]="!showReschedule" [class.bg-red]="showReschedule" title="Reagendar">
                    @if (!showReschedule) {
                        <i class="fi fi-rr-time-forward"></i>
                    } @else {
                        <i class="fi fi-rr-cross-small"></i>
                    }
                </button>
                <button (click)="cancelAppointment()" (mouseleave)="sureCancel = false" class="btn" [class.bg-current2]="!sureCancel" [class.bg-red]="sureCancel" title="Cancelar">
                    @if (!sureCancel) {
                        <i class="fi fi-rr-ban"></i>
                    } @else {
                        ¿Estas seguro?
                    }
                </button>
            </div>
        }
    </div>
    @if (!active && showReschedule) {
        <form class="reschedule" (submit)="rescheduleAppointment($event)">
            <div>
                <div class="input bg-current3">
                    <label for="reschedule"><i class="fi fi-rr-time-forward"></i></label>
                    <input (change)="rescheduleAppointmentOverlap()" [formControl]="reschedule" id="reschedule" type="datetime-local" placeholder="Reagendar">
                </div>
                <button [disabled]="!(reschedule.valid && !equalAppointment)" class="btn bg-yellow" type="submit"><i class="fi fi-rr-angle-small-right"></i></button>
            </div>
            <notification text="Ya hay una cita a esta hora" [hidden]="!(equalAppointment)" />
            @if (approximateAppointments) {
                <div class="approximateAppointments bg-current3">
                    <span class="title">Citas cercanas:</span>
                    @for (appointment of approximateAppointments; track appointment._id) {}
                    <div class="bg-current2">
                        <span>{{ appointment.patient.name }} {{ appointment.patient.lastname }}</span>
                        <span>-</span>
                        <span>{{ hourString(appointment.date) }}</span>
                    </div>
                </div>
            }
        </form>
    }
    @if (appointment.state === 1) {
        <div class="appointmentData bg-current3">
            <span>Peso: {{ appointmentData?.weight }}kg</span>
            <span>Talla: {{ appointmentData?.height }}cm</span>
            <span>AF: {{ appointmentData?.af }}%</span>
            <span>IMC: {{ appointmentData?.imc?.toString()?.slice(0,5) }}</span>
            <span>GEB: {{ appointmentData?.gebData }}</span>
            <span>GET: {{ appointmentData?.getData }}</span>
        </div>
    }
</div>