<div class="card bg-current2">
    <div>
        <div>
            <span>{{ dayWeekString() }}</span>
            <span>-</span>
            <span class="datetime">{{ appointment.date.hour.toString().padStart(2,'0') }}:{{ appointment.date.minute.toString().padStart(2,'0') }}{{ appointment.date.time }}</span>
        </div>
        <span class="state bg-yellow">{{ stateString() }}</span>
    </div>
    <div>
        <span>Para: {{ appointment.patient.name }} {{ appointment.patient.lastname }}</span>
        <div class="options">
            <button class="btn bg-current2" title="Reagendar"><i class="fi fi-rr-time-forward"></i></button>
            <button class="btn bg-current2" title="Cancelar"><i class="fi fi-rr-ban"></i></button>
        </div>
    </div>
</div>