@if (body) {
    <div class="tableBox">
        <table>
            <thead>
                <tr>
                    @for (headItem of head; track $index) {
                        <th>{{headItem}}</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (item of body; track $index) {
                    <tr>
                        @for (key of getObjectKeys(item); track $index) {
                            @if (key !== '_id') {
                                <td>{{ getKeysValue(item, key) }}</td>       
                            }
                        }
                        <div class="options">
                            <button (click)="edit(item)" class="btn bg-yellow"><i class="fi fi-rr-pencil"></i></button>
                            <button (mouseleave)="sureDelete = false" (click)="delete(getKeysValue(item, '_id'))" class="btn bg-red">
                                @if (sureDelete) {
                                    ¿Estas seguro?
                                }@else {
                                    <i class="fi fi-rr-trash"></i>
                                }
                            </button>
                        </div>
                    </tr>
                }
            </tbody>
        </table>
    </div>
} @else {
    <div class="empty">
        <i class="fi fi-rr-grimace"></i>
        <p>Aun no hay datos que mostrar.</p>
    </div>
}