@import '../../../../colors';

.tableBox {
    height: 100%;
    background-color: $light;
    border-radius: 16px;
    padding: 8px;

    table {
        width: 100%;
        height: max-content;
        border-collapse: collapse;
        text-align: center;

        thead {
            th {
                background-color: $dark;
                color: $light;

                &:first-child {
                    border-radius: 16px 0 0 16px;
                }
                &:last-child {
                    border-radius: 0 16px 16px 0;
                }
            }
        }
        th, td {
            padding: 16px;
        }
        tbody {
            tr {
                cursor: pointer;
                
                &:not(:last-child){
                    border-bottom: 1px solid $light2;
                }
                &:hover {
                    outline: 1px solid $dark;
                    border-radius: 16px;
                }
            }
            &:hover {
                tr {
                    border-bottom: none;
                }
            }
        }
    }
}
.empty {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $light;
    height: 100%;
    border-radius: 16px;

    i {
        font-size: 48px;
    }
}
