<div class="main">
    <form (submit)="submitForm($event)" class="bg-current">
        <div>
            <h1>Nueva cita</h1>
            <div class="input bg-current2">
                <label for="hour"><i class="fi fi-rr-clock"></i></label>
                <input [formControl]="datetime" type="datetime-local" id="hour">
            </div>
            <notification text="La fecha y hora de la cita es obligatoria" [hidden]="!(datetime.dirty && datetime.getError('required'))" />
            <button type="button" class="patientSelect btn bg-current2">{{ namePatient }} {{ lastnamePatient }}<i class="fi fi-rr-angle-small-right"></i></button>
        </div>
        <button [disabled]="!(datetime.valid && idPatient)" class="btn bg-green">Agendar</button>
    </form>
    <div class="patients bg-current">
        <div class="header">
            <h1>Selecciona un paciente</h1>
            <div class="input bg-current2">
                <label for="search"><i class="fi fi-rr-search"></i></label>
                <input type="text" id="search" placeholder="Buscar...">
            </div>
        </div>
        <div class="content">
            @for (patient of patients; track patient._id) {
                <patient-appointment (patientClickedEvent)="setPatient($event)" [name]="patient.name" [lastname]="patient.lastname" [gender]="patient.gender" [birthday]="patient.birthday" [id]="patient._id" />
            }
        </div>
    </div>
</div>
