<div class="main">
    <form class="bg-current" [formGroup]="appointmentForm">
        <div>
            <h1>Nueva cita</h1>
            <div class="input bg-current2">
                <label for="date"><i class="fi fi-rr-calendar"></i></label>
                <input formControlName="date" type="date" id="date">
            </div>
            <notification text="La fecha de la cita es obligatoria" [hidden]="!(appointmentForm.get('date')!.dirty && appointmentForm.get('date')!.getError('required'))" />
            <div class="input bg-current2">
                <label for="hour"><i class="fi fi-rr-clock"></i></label>
                <input formControlName="datetime" type="time" id="hour">
            </div>
            <notification text="La hora de la cita es obligatoria" [hidden]="!(appointmentForm.get('datetime')!.dirty && appointmentForm.get('datetime')!.getError('required'))" />
            <button class="patientSelect btn bg-current2">{{ namePatient }} {{ lastnamePatient }}<i class="fi fi-rr-angle-small-right"></i></button>
        </div>
        <button [disabled]="!(appointmentForm.valid && idPatient)" class="btn bg-green">Agendar</button>
    </form>
    <div class="patients bg-current">
        <div class="header">
            <h1>Selecciona un paciente</h1>
            <div class="input bg-current2">
                <label for="search"><i class="fi fi-rr-search"></i></label>
                <input type="text" id="search" placeholder="Buscar...">
            </div>
        </div>
        <div class="content">
            @for (patient of patients; track patient._id) {
                <patient-appointment (patientClickedEvent)="setPatient($event)" [name]="patient.name" [lastname]="patient.lastname" [gender]="patient.gender" [birthday]="patient.birthday" [id]="patient._id" />
            }
        </div>
    </div>
</div>
