.main {
    height: 100%;
    gap: 8px;

    .data {
        width: 256px;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 16px;
        padding: 16px;

        > div {
            gap: 8px;
            flex-direction: column;
        }
        .patientSelect {
            padding: 4px;
            min-height: 36px;
            height: max-content;
        }
    }
    .patients {
        flex-direction: column;
        flex: 1;
        border-radius: 16px;
        padding: 16px;
        flex-wrap: wrap;

        .header {
            width: 100%;
            justify-content: space-between;
            height: max-content;
        }
        .content {
            margin-top: 8px;
            gap: 8px;
        }
        patient-appointment {
            flex: 1;
        }
    }
}
