<div class="main">
    <form class="bg-current">
        <div>
            <h1>Nueva cita</h1>
            <div class="input bg-current2">
                <label for="date"><i class="fi fi-rr-calendar"></i></label>
                <input type="date" id="date">
            </div>
            <div class="input bg-current2">
                <label for="hour"><i class="fi fi-rr-clock"></i></label>
                <input type="time" id="hour">
            </div>
            <button class="btn bg-current2">Paciente<i class="fi fi-rr-angle-small-right"></i></button>
        </div>
        <button disabled class="btn bg-green">Agendar</button>
    </form>
    <div class="patients bg-current">
        <h1>Selecciona un paciente</h1>
    </div>
</div>
