<div class="main">
    <div class="info">
        <button (click)="toggleNewForm()" [class.bg-green]="!viewNewForm" [class.bg-red]="viewNewForm" class="btn">
            @if (!viewNewForm) {
                <i class="fi fi-rr-add"></i>
                Nuevo paciente
            } @else {
                Cancelar
            }
        </button>
        <div class="bg-current">
            <span>{{ patients!.length }}</span>
            <span>Pacientes registrados</span>
        </div>
        <div class="bg-current">
            <span>13</span>
            <span>Pacientes con cita</span>
        </div>
    </div>
    <div class="content">
        @if (viewNewForm) {
            <new-patient (update)="updatePatient()" [patientEdit]="patientEdit" [modeEdit]="modeEdit" />
        }
        @if (patients!.length > 0) {
            <div class="patients bg-current">
                @for (patient of patients; track $index) {
                    <patient-card (update)="updatePatient()" (edit)="editPatient($event)" [patient]="patient" />
                }
            </div>
        } @else {
            <div class="notPatients bg-current">
                <i class="fi fi-rr-face-disappointed"></i>
                <span>Aun no hay pacientes</span>
            </div>
        }
    </div>
</div>
