@import '../../../colors';

main {
    justify-content: center;
    align-items: center;

    h1 {
        margin-bottom: 4px;
    }
    section {
        flex-direction: column;
        align-items: center;
        background-color: $bg;
        border-radius: 16px;
        padding: 16px 48px;
        max-width: 304px;

        form,
        .controls {
            flex-direction: column;

            div{
                button:last-child{
                    flex-grow: 1;
                }
            }
        }
        .loading {
            padding: 32px;
        }
    }
}
section,
form,
.controls,
.controls div {
    gap: 8px;
}
