<main>
    <section>
        <h1>Iniciar sesión</h1>
        <form [formGroup]="form">
            <div class="inputLight">
                <label for="email"><i class="fi fi-rr-envelope"></i></label>
                <input formControlName="email" id="email" type="email" placeholder="Correo electronico" />
            </div>
            <!-- ERRORES PARA EMAIL -->
            <notification text="El correo es obligatorio" [hidden]="!(getControlError('email', 'required') && form.get('email')?.dirty)" />
            <notification color="yellow" icon="envelope-ban" text="Correo invalido" [hidden]="!getControlError('email', 'email')" />
            <notification color="yellow" icon="circle-6" text="El correo debe contener minimo seis caracteres" [hidden]="!(getControlError('email', 'minlength') && !getControlError('email', 'email'))" />
            <div class="inputLight">
                <label for="password"><i class="fi fi-rr-lock"></i></label>
                <input formControlName="password" id="password" type="password" placeholder="Contraseña" />
            </div>
            <!-- ERRORES PARA CONTRASEÑA -->
            <notification text="Por favor rellena la contraseña" [hidden]="!(getControlError('password', 'required') && form.get('password')?.dirty)" />
            <notification color="yellow" icon="circle-6" text="La contraseña debe contener minimo seis caracteres" [hidden]="!getControlError('password', 'minlength')" />
            <div class="controls">
                <button [disabled]="!form.valid" class="btn bg-green">Acceder</button>
                <button (click)="redirectSignUp()" class="btn bg-dark">Registrarse</button>
            </div>
        </form>
    </section>
</main>
