@import '../../../colors';

main {
    justify-content: center;
    align-items: center;

    h1 {
        margin-bottom: 4px;
    }
    section {
        flex-direction: column;
        align-items: center;
        background-color: $light;
        border-radius: 16px;
        padding: 16px 48px;

        form,
        .controls {
            flex-direction: column;
        }
    }
}
section,
form,
.controls {
    gap: 8px;
}
