@import '../../../../../colors';

.main {
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    gap: 16px;
    justify-content: space-between;
    cursor: pointer;

    div {
        flex-direction: column;

        &:last-child {
            align-items: end;
        }
    }
    .name {
        font-weight: 700;
    }
}
.selected {
    outline: 4px solid $purple;
}
