<form>
    <div class="input bg-light2">
        <label for="name"><i class="fi fi-rr-user"></i></label>
        <input id="name" type="text" placeholder="Nombre">
    </div>
    <div class="input bg-light2">
        <label for="lastname"><i class="fi fi-rr-pen-field"></i></label>
        <input id="lastname" type="text" placeholder="Apellido(s)">
    </div>
    <div class="input bg-light2">
        <label for="phone"><i class="fi fi-rr-mobile-notch"></i></label>
        <input id="phone" type="text" placeholder="Telefono">
    </div>
    <div class="input bg-light2">
        <label for="birthday"><i class="fi fi-rr-cake-birthday"></i></label>
        <input id="birthday" type="date" placeholder="Fecha de nacimiento">
    </div>
    <div class="input bg-light2">
        <label for="gender"><i class="fi fi-rr-venus-mars"></i></label>
        <select id="gender">
            <option value="F">Femenino</option>
            <option value="M">Masculino</option>
        </select>
    </div>
    <button class="btn bg-green">Guardar</button>
</form>
