<main>
    <section>
        <h1>Registrarse</h1>
        @if (step === 0) {
            <div>
                <div class="inputLight">
                    <label for="email"><i class="fi fi-rr-envelope"></i></label>
                    <input [formControl]="emailControl" id="email" type="email" placeholder="Correo electronico">
                </div>
                <notification text="El correo es obligatorio" [hidden]="!(emailControl.dirty && emailControl.getError('required'))"/>
                <notification color="yellow" icon="circle-6" text="El correo debe contener minimo seis caracteres" [hidden]="!(emailControl.getError('minlength') && !emailControl.getError('email'))"/>
                <notification color="yellow" icon="envelope-ban" text="El correo es invalido" [hidden]="!(emailControl.getError('email'))"/>
                <notification text="Este correo esta en uso" [hidden]="!(errorDuplicatedEmail)" />
            </div>
        }
        @if (step === 1) {
            <form [formGroup]="formPassword" [hidden]="!(step === 1)">
                <div class="inputLight">
                    <label for="password"><i class="fi fi-rr-lock"></i></label>
                    <input formControlName="password" id="password" type="password" placeholder="Contraseña">
                </div>
                <notification text="La contraseña es obligatorio" [hidden]="!(getFormErrors(formPassword, 'password', 'required') && formPassword.get('password')?.dirty)"/>
                <notification color="yellow" icon="circle-6" text="La contraseña debe contener minimo seis caracteres" [hidden]="!(getFormErrors(formPassword, 'password', 'minlength'))"/>
                <div class="inputLight">
                    <label for="confirm"><i class="fi fi-rr-rotate-left"></i></label>
                    <input formControlName="confirm" id="confirm" type="password" placeholder="Confirmar">
                </div>
                <notification text="Debes confirmar la contraseña" [hidden]="!(getFormErrors(formPassword, 'confirm', 'required') && formPassword.get('confirm')?.dirty)"/>
                <notification text="Las contraseñas no coinciden" [hidden]="!((formPassword.get('password')?.value !== formPassword.get('confirm')?.value) && formPassword.get('confirm')?.dirty && !getFormErrors(formPassword, 'confirm', 'required'))"/>
            </form>
        }
        @if (step === 2) {
            <form [formGroup]="formName" [hidden]="!(step === 2)">
                <div class="inputLight">
                    <label for="name"><i class="fi fi-rr-user"></i></label>
                    <input formControlName="name" id="name" type="text" placeholder="Nombre">
                </div>
                <notification text="Nombre es obligatorio" [hidden]="!(getFormErrors(formName, 'name', 'required') && formName.get('name')?.dirty)"/>
                <notification color="yellow" icon="circle-3" text="Nombre debe contener minimo tres caracteres" [hidden]="!(getFormErrors(formName, 'name', 'minlength'))"/>
                <div class="inputLight">
                    <label for="lastname"><i class="fi fi-rr-pen-field"></i></label>
                    <input formControlName="lastname" id="lastname" type="text" placeholder="Apellido(s)">    
                </div>
                <notification text="Apellido es obligatorio" [hidden]="!(getFormErrors(formName, 'lastname', 'required') && formName.get('lastname')?.dirty)"/>
                <notification color="yellow" icon="circle-3" text="Apellido debe contener minimo tres caracteres" [hidden]="!(getFormErrors(formName, 'lastname', 'minlength'))"/>
            </form>
        }
        @if (step === 3) {
            <div class="loading">
                <loading text="Cargando"/>
            </div>
        } @else if (step === 4) {
            <div class="successMessage">
                <i class="fi fi-rr-social-network"></i>
                <p>Tu cuenta ha sido creada</p>
                <loading text="Redireccionando" />
            </div>
        } @else {
            <div class="controls">
                <div class="btnSteps">
                    <button [hidden]="!(step !== 0)" class="btn bg-blue" (click)="previousStep()"><i class="fi fi-rr-angle-left"></i></button>
                    <button [disabled]="!((step === 0 && emailControl.valid) || (step === 1 && formPassword.valid && formPassword.get('password')?.value === formPassword.get('confirm')?.value ) || (step === 2 && formName.valid))" class="btn bg-green" (click)="validForms()">Siguiente</button>
                </div>
                <div>
                    <button (click)="redirectSignIn()" class="btn bg-dark">Iniciar sesión</button>
                </div>
            </div>
        }
    </section>
</main>