<nav [class.hide]="hide">
    <div class="start">
        <div class="current">
            <i class="fi fi-rr-{{ iconSection }}"></i>
            <span>{{ titleSection }}</span>
        </div>
        <div class="sections">
            <button (click)="changeSection(0,'Inicio','house-blank')"><i class="fi fi-rr-house-blank"></i><span>Inicio</span></button>
            <button (click)="changeSection(1,'Paciente','user')"><i class="fi fi-rr-user"></i><span>Pacientes</span></button>
            <button (click)="changeSection(2,'Citas','calendar-day')"><i class="fi fi-rr-calendar-day"></i><span>Citas</span></button>
            <button (click)="changeSection(3,'Dietas','apple-whole')"><i class="fi fi-rr-apple-whole"></i><span>Dietas</span></button>
        </div>
    </div>
    <div class="end">
        <button (click)="changeHide()" class="btn bg-dark"><span><i class="fi fi-rr-angle-double-small-left"></i></span></button>
    </div>
</nav>
