@import '../../../../colors';

$paddingNav: 16px 26px;
$marginNav: 8px;

nav {
    background-color: $bg;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - $marginNav * 2);
    padding: $paddingNav;
    margin: $marginNav 0;
    border-radius: 0 16px 16px 0;

    .start {
        flex-direction: column;
        gap: 16px;

        .logo {
            align-items: center;

            span {
                margin-left: 8px;
                font-weight: 900;
                font-size: 20px;
            }
        }

        button {
            display: flex;
            cursor: pointer;
            border: none;
            background: none;
            align-items: center;
            padding: 8px 16px;
            border-radius: 16px;

            i {
                margin-right: 8px;
            }
            i,
            span {
                font-size: 16px;
                font-weight: 800;
            }

            &:hover {
                background-color: $bg2;
            }
        }
        .active {
            background-color: $purple;

            &:hover {
                background-color: $purple;
            }
        }
    }
    .end {
        gap: 16px;

        button {
            flex: 1;
        }
    }
}
